@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* optional */
}

::-webkit-scrollbar-thumb {
  background-color: #e12025;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 140px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/20%;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: l4 2s infinite steps(6);
}
@keyframes l4 {
  100% {
    background-size: 120%;
  }
}
